/* 브라우저 전체 영역 중앙 정렬 */
html,
body,
#app {
  height: 100%;
  margin: 0;
  display: flex;
  justify-content: center; /* 가로 중앙 */
  align-items: center; /* 세로 중앙 */
  background: #ffffff; /* (선택) 바깥 배경색 */
  /* 폰트 설정하고 예비로 쓸것 지정해둔거 */
  font-family: 'Pretendard', -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, 'Helvetica Neue', Arial, 'Noto Sans KR', sans-serif;
}

.wrap {
  margin: 30px 20px 30px 20px;
}

.otd-top-margin {
  margin-top: 15px;
}

.otd-title {
  font-size: 24px;
  font-weight: bold;
  color: #303030;
}

.otd-category {
  font-size: 20px;
  color: #303030;
  font-weight: bold;
}

.otd-subtitle-1 {
  font-size: 18px;
  color: #303030;
  font-weight: 600;
}

.otd-subtitle-2 {
  font-size: 16px;
  color: #303030;
  font-weight: 600;
}

.otd-body-1 {
  font-size: 16px;
  color: #303030;
  font-weight: 500;
}

.otd-body-2 {
  font-size: 14px;
  color: #303030;
  font-weight: 400;
}

.otd-body-3 {
  font-size: 12px;
  color: #303030;
  font-weight: 400;
}
.otd-caption {
  font-size: 10px;
  color: #303030;
  font-weight: 400;
}
.otd-button {
  font-size: 12px;
  color: #ffffff;
  font-weight: 600;
}

/* 테두리 */
.otd-border {
  border-radius: 10px;
  border: #e6e6e6 solid 1px;
}

/* 내용 들어가는 박스 스타일 */
.otd-box-style {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
}

.otd-shadow {
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
}
